<launch>
  <!-- Run usb_cam to initialize the camera -->
  <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch"/>

  <!-- Run image_proc to remove the distortion of the image -->
  <!--<node name="image_proc" pkg="image_proc" type="image_proc" ns="usb_cam"/-->

  <!-- Open the image with no distortion -->
  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/kinect2/qhd/image_color"/>
    <param name="autosize" value="true" />
  </node>

  <node pkg="apriltags_ros" type="apriltag_detector_node" name="apriltag_detector" output="screen">
    <!-- Remap topic required by the node to custom topics -->
    <!-- <remap from="image_rect" to="usb_cam" /> -->
    <!-- <remap from="camera_info" to="usb_cam/camera_info" /> -->
    <remap from="image_rect" to="/kinect2/qhd/image_color_rect" />
    <remap from="camera_info" to="/kinect2/qhd/camera_info"/>

    <!-- Optional: Subscribe to the compressed stream-->
    <!-- <param name="image_transport" type="str" value="compressed" /> -->

    <!-- Select the tag family: 16h5, 25h7, 25h9, 36h9, or 36h11(default) -->
    <param name="tag_family" type="str" value="36h11" />

    <!-- Enable projected optical measurements for more accurate tag transformations -->
    <!-- This exists for backwards compatability and should be left true for new setups -->
    <param name="projected_optics" type="bool" value="true" />

    <!-- Describe the tags -->
    <rosparam param="tag_descriptions">[
      {id: 0, size: 0.01, frame_id: april_tag_frame_id_0},
      {id: 1, size: 0.01, frame_id: april_tag_frame_id_1},
      {id: 2, size: 0.01, frame_id: april_tag_frame_id_2},
      {id: 3, size: 0.01, frame_id: april_tag_frame_id_3},
      {id: 4, size: 0.01, frame_id: april_tag_frame_id_4},
      {id: 5, size: 0.01, frame_id: april_tag_frame_id_5},
      {id: 6, size: 0.01, frame_id: april_tag_frame_id_6},
      {id: 7, size: 0.01, frame_id: april_tag_frame_id_7},
      {id: 8, size: 0.01, frame_id: april_tag_frame_id_8},
      {id: 9, size: 0.01, frame_id: april_tag_frame_id_9},
      {id: 10, size: 0.01, frame_id: april_tag_frame_id_10}]
    </rosparam>
  </node>


</launch>
